# Django Settings
DJANGO_SECRET_KEY=django-insecure-health-monitoring-platform-2024
DJANGO_DEBUG=True

# PostgreSQL Database
DB_NAME=health_platform
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=5432

# Frontend
VITE_API_URL=http://localhost:8000
